# General node_modules
**/node_modules/
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Logs
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# OS and IDE-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# React Native specific files inside kart
kart/android/.gradle/
kart/android/app/build/
kart/android/build/
kart/android/.cxx/
kart/android/.idea/
kart/android/local.properties
kart/android/app/src/main/assets/index.android.bundle
kart/android/app/src/main/assets/index.ios.bundle

kart/ios/Pods/
kart/ios/build/
kart/ios/.swiftpm/
kart/ios/.symlinks/
kart/ios/xcuserdata/
kart/ios/*.xcodeproj/project.xcworkspace/
kart/ios/*.xcworkspace/
kart/ios/*.xcuserdata/
kart/ios/Flutter/
kart/ios/fastlane/report.xml
kart/ios/fastlane/Preview.html
kart/ios/fastlane/screenshots/
kart/ios/.DS_Store

# Metro bundler cache
kart/.expo/
kart/.expo-shared/
kart/.expo-source/
kart/dist/
kart/web-build/

# Misc
*.keystore
*.env
*.bak
*.rej

# Server-specific ignores inside server
server/node_modules/
server/dist/
server/.env
server/.nyc_output/
server/coverage/
server/debug.log

# Git-specific
.git/
.gitignore
**/*.o
kart/android/app/.cxx/*
kart/android/app/src/main/res/*
kart/android/gradlew
kart/android/gradlew.bat
